.contact__container {
    width: 70%;
    margin: 50px auto 0 auto;
    max-height: calc(100vh - 250px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;

    &--title {
        font-size: 2rem;
        font-weight: 600;
        color: #4A4A4A;
    }

    &--validations>input {
        border: 1px solid #A74141 !important;
        border-radius: .25rem;

        &:hover {
            border-color: #911111 !important;
        }

        &:focus {
            border-color: #911111 !important;
        }
    }

    &--textarea {
        width: -webkit-fill-available !important;
        height: 4rem;
        border: 1px solid #fff;
        color: #174171;
        border-radius: 4px;
        padding: 12px;
        font-size: 0.75rem;
        background-color: #F3F5F8;

        &:hover {
            border-color: #B9C6D4;
        }

        &:focus {
            border-color: #174171;
        }

        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #174171;
            opacity: 1;
            /* Firefox */
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #174171;
        }

        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #174171;
        }
    }
}